<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Ajout participants par fichier CSV</h4>
            </div>
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3"></div>
            <div class="col-md-6 col-lg-6 col-sm-6 white-box">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <h3 class="box-title mb-0">Activité N° :  <b style="color: orange;">00{{activite.id_activite}}</b></h3>
                    <h3 class="box-title mb-0">Libellé : <b style="color: orange;">{{activite.libelle}}</b></h3>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xlg-3 col-md-12"></div>
            <div class="col-lg-6 col-xlg-3 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal form-material" #fichier="ngForm" (ngSubmit)="ajoutFichier()" enctype="multipart/form-data" novalidate>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">Fichier</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="file" class="form-control p-0 border-0" (change)="onFileChange($event)" #inputFile
                                     ngModel required = true>
                                </div>
                            </div>
                            <div class="form-group mb-4 row">
                                <div class="col-sm-6">
                                    <button class="btn btn-danger" (click)="annuler()">Annuler</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-warning" [disabled]="fichier.invalid" type="submit">Ajouter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xlg-3 col-md-12"></div>
        </div>
        <div class="row">
             <div class="col-lg-1 col-xlg-1 col-md-12"></div>
             <div class="col-lg-10 col-xlg-10 col-md-12 card">
                                     <!-- class = sjs-table, ExcelTable2007 -->
                <table id="TheTable" class="ExcelTable2007">
                    <thead #header>
                        <tr>
                           <th *ngFor="let headValue of headData">
                              {{headValue}}
                            </th>
                        </tr>
                    </thead>
                    <tbody #container>
                        <tr *ngFor="let row of data">
                            <td *ngFor="let val of headData; let i =index">
                                {{row[i] || ' '}}
                            </td>
                        </tr>
                     </tbody>
                </table>
             </div>
             <div class="col-lg-1 col-xlg-1 col-md-12"></div>

        </div>
    </div>
</div>
