.sous-header{
    padding-top: 20px;
}

.btn-orange{
    background-color: #FF9900;
    color: white;
}

.alignement a{
    margin: 5px;
}

button{
    width: 100%;
    margin: 0 auto;
}
.align-button{
    margin: 0 auto;
    width: 50%;
}

// input:invalid {     
//     border-bottom: 1px solid black;     
//     box-shadow: 0 0 5px 0 red; }
// input:focus:invalid {     
//       outline: none; 
//     } 
// input:valid {     
//         box-shadow: 0 0 5px 0 rgb(102, 192, 114); }
// input:focus:valid {
//      outline: none; 
// }