.sous-header{
    padding-top: 20px;
}

.btn-orange{
    background-color: #FF9900;
    color: white;
}

.alignement a{
    margin: 5px;
}

button{
    width: 100%;
    margin: 0 auto;
}
.align-button{
    margin: 0 auto;
    width: 50%;
}