<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">MODIFICATION ADMINISTRATEUR</h4>
            </div>
            <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0 auto;">

        <div class="col-lg-3 col-xlg-3 col-md-12"></div>
            <!-- Column -->
            <!-- Column -->
            <div class="container-fluid">
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-12">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="../../assets/plugins/images/infos.png">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="../../assets/plugins/images/infos.png"
                                                class="thumb-lg img-circle" alt="img"></a>
                                        <h4 class="text-white mt-2">{{ admin.prenom }} {{ admin.nom }}</h4>
                                        <h5 class="text-white mt-2">{{ admin.email }}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="user-btm-box mt-5 d-md-flex">
                                <div class="col-md-6 col-sm-6 text-center" style="color: orange;">
                                    <p>Ajouté(e) par :</p>
                                </div>
                                <div class="col-md-6 col-sm-6 text-center">
                                    <p>Nom_admin</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material" (ngSubmit)="updateAdmin()">
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">NOM</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="Saisissez votre nom de famille"
                                             class="form-control p-0 border-0" name="nom" required pattern="[a-zA-Z]+" [(ngModel)]="admin.nom" #nom="ngModel">
                                        </div>
                                        <p *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert">
                                            <b *ngIf="nom.errors?.['required']">
                                                  Le nom est obligatoire !
                                            </b>
                                            <b *ngIf="nom.errors?.['pattern']">
                                                Le nom doit être composé que des lettres !
                                            </b>
                                          </p>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="example-email" class="col-md-12 p-0">PRENOM</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="Saisissez votre prénom"
                                            class="form-control p-0 border-0" name="prenom" required pattern="[a-zA-Z]+" [(ngModel)]="admin.prenom" #prenom="ngModel">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="example-email" class="col-md-12 p-0">TELEPHONE</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder=" 70 00 00 00"
                                            class="form-control p-0 border-0" name="genre" required pattern="[0-9]{8}" [(ngModel)]="admin.telephone"  #telephone="ngModel">
                                        </div>
                                        <p *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="alert">
                                            <b *ngIf="telephone.errors?.['required']">
                                                  Le numéro de téléphone est obligatoire !
                                            </b>
                                            <b *ngIf="telephone.errors?.['pattern']">
                                               Le numéro de téléphone doit être de 8 chiffres !
                                            </b>
                                          </p>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="example-email" class="col-md-12 p-0">EMAIL</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="exemple@gmail.com"
                                            class="form-control p-0 border-0" name="email"
                                            id="example-email" [(ngModel)]="admin.email" required  #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                        </div>
                                        <p *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                                            <b *ngIf="email.errors?.['required']">
                                                L'email est obligatoire !
                                            </b>
                                            <b *ngIf="email.errors?.['pattern']">
                                                L'email doit être de type exemple@exemple.domaine !
                                            </b>
                                        </p>
                                    </div>
                                    
                                    <div class="form-group mb-4">
                                        <div class="col-sm-12 align-button">
                                            <button class="btn btn-warning" type="submit">Modifier</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
            </div>
            <div class="col-lg-3 col-xlg-3 col-md-12"></div>
    </div>
</div>
</div>