body{
    background-color: black;
}
.contenair{
    height: auto;
    margin: 50px auto;
}
.content{
    width: 80%;
    padding: 10px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    box-shadow: 3px 3px 3px #FF9900;
    border-radius: 10px;
    background-color: black;
    border: 1px solid white;
}
.imgContent{
    width: 45%;
}
.card{
    height: 510px;
}
.formContent{
    width: 50%;
}
h1{
    text-align: center;
}
.btnC{
    background-color: rgb(223, 91, 4);
    color: white; 
}