<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">GESTION PARTICIPANTS</h4>
            </div>
            <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0 auto;">
        <!-- Mettre ici le contenu de la page -->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="d-md-flex mb-3">
                        <div class="row col-md-12 col-lg-12 col-sm-12">
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <h3 class="box-title mb-0">Liste des Participants</h3>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <form role="search" >
                                    <a href="" class="active">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search..." class="form-control mt-0">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">#</th>
                                    <th class="border-top-0">Nom complet</th>
                                    <th class="border-top-0">Téléphone</th>
                                    <th class="border-top-0">Domaine</th>
                                    <th class="border-top-0">Structure</th>
                                    <th class="border-top-0">Email</th>
                                    <th class="border-top-0">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of listpart | filter:searchText">
                                    <td>{{p.id_participant}}</td>
                                    <td class="txt-oflo">{{p.nom_complet}}</td>
                                    <td>{{p.telephone}}</td>
                                    <td class="txt-oflo">{{p.domaine}}</td>
                                    <td class="txt-oflo">{{p.structure}}</td>
                                    <td class="txt-oflo">{{p.email}}</td>
                                    <td>
                                      <span class="text-success  alignement" >
                                      <a [routerLink]="['/modifier-participant', p.id_participant]"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                      <a  (click)="delete(p.id_participant)"><i style="color: red;" class="fa fa-trash" aria-hidden="true"></i></a>
                                      <a [routerLink]="['/detail-participant', p.id_participant]"><i style="color: green;" class="fas fa-info-circle" aria-hidden="true"></i></a>
                                   </span>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>