<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">AJOUTER UNE ACTIVITE</h4>
            </div>
            <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0 auto;">

        <div class="col-lg-3 col-xlg-3 col-md-12"></div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-6 col-xlg-3 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form #AjoutForm="ngForm" (ngSubmit)="AjoutActivite(AjoutForm)" class="form-horizontal form-material">
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">Exercice</label>
                                <div class="col-md-12 border-bottom p-0">
                                        <select  class="form-control p-0 border-0" name="exercice" id="singleSelect" ngModel>
                                            <option value="">Selectionner un exercice</option> 
                                            <option *ngFor="let exo of listeExo" value={{exo.id}}>Exercice {{exo.annee}}</option>
                                           
                                        </select>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">Libellé</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="text" placeholder="Le libellé de l'activité"
                                                class="form-control p-0 border-0" name="libelle" ngModel>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">Type</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <select class="form-control p-0 border-0" name="type" ngModel>
                                        <option value="">---sélectionnez un type---</option>
                                        <option value="Formation">Formation</option>
                                        <option value="Talk">Talk</option>
                                        <option value="Évènement">Évènement</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">Date début</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="date" class="form-control p-0 border-0" name="dateDebut" ngModel>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">Date fin</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="date" class="form-control p-0 border-0" name="dateFin" ngModel>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="col-sm-12 align-button">
                                    <button class="btn btn-warning" type="submit">Ajouter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xlg-3 col-md-12"></div>

    </div>
</div>
</div>